footer
	.container.bg-primary.no-gutters-col.h-100
		.row.h-100.align-items-center
			.col-6
				p.lead.mb-0.ml-5.text-light © Copyright 2017
			.col-6.d-flex.justify-content-end
				.btn-group.mr-4
					button.btn.btn-lg.btn-outline-light
						i.icon-save
						| Save
					button.btn.btn-lg.btn-outline-light
						i.icon-back
						| Back
script(src='script/jquery.js')
script(src='script/popper.js')
script(src='script/bootstrap.min.js')
script(src='script/jquery.nicescroll.min.js')
script(src='script/main.js')